*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #272A37;
}
.sidebar{
    height: 100vh;
    border-right: 1px solid #323644;
    &-wrapper{
        width: 110px;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img{
            width: 80px;
            height: 80px;
            margin-top: 20px;
            margin-left: 10px;
        }
        &-menu{
            div{
                margin-top: 20px;
                cursor: pointer;
                padding-left: 10px;
                text-align: center;
                img{
                    width: 40px;
                    height: 40px;
                }

            }
            div.active{
                border-left: #4ac1f7 2px solid;
            }
        }
        &-user{
            &-image{
                border-radius: 50px;
            }
        }
    }
}
.window{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    &-wrapper{
        width: 20%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        &-btn{
            margin-top: 10px;
            width: 100%;
            height: 65px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            background-color: #323644;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        &-form{
            display: none;
            position: absolute;
            padding: 40px 40px 40px 40px;
            left: 40%;
            top: 40%;
            background-color: #323644;
            border-radius: 10px;
            div{
                display: flex;
                flex-direction: column;
                label{
                    color: white;
                }
            }
            &-input{
                border-radius: 10px;
                border: 1px solid #4ac1f7;
                padding: 7px 20px 7px 6px;
            }
            input[type='submit']{
                width: 100%;
                margin-top: 20px;
                padding: 7px 20px 7px 6px;
                border: none;
                outline: none;
                border-radius: 20px;
            }

        }
        &-form.open{
            display: block;
        }
        &-message{
            color: #b5b7bd;
            font-size: 36px;
        }
        &-message.deactive{
            display: none;
        }
        &-name{
            flex: 1;
            color: white;
            font-size: 32px;
            font-weight: bold;
            p{
                padding: 40px 40px 40px 40px;
            }
        }
        &_list-chats{
            flex: 5;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &-chat{
                margin-top: 10px;
                width: 100%;
                height: 65px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                background-color: #323644;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            &-chat.open{
                background-color: #1d90f5;
            }
        }
        &_list-chats::-webkit-scrollbar{
            width: 0;
        }
    }
    &-room{
        width: 60%;
        height: 100vh;
        background-color: #323644;
        margin-right: 300px;
        &-field{
            height: 94.5%;
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
        &-field::-webkit-scrollbar {
            display: none;
        }
        &-message{
            color: white;
            margin-top: 30px;
            background-color: #424656;
            max-width: 70%;
            padding: 7px 7px 7px 7px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-left: 20px;
            &-text{
                color: white;
                margin-left: 10px;
            }
        }
        &-info{
            display: flex;
            align-items: center;
            &-image{
                width: 30px;
                height: 30px;
                border-radius: 50px;
                margin-left: 20px;
                margin-top: 5px;
            }
            &-username{
                color: white;
                font-size: 14px;
                font-weight: bold;
                margin-left: 15px;
            }
            &-time{
                color: #5e616c;
                font-size: 14px;
                margin-left: 15px;
            }
        }
        &-form{
            width: 100%;
            height: 50px;
            display: flex;
            &-input{
                flex: 6;
            }
            &-submit{
                flex: 1;
            }
        }
    }
    &-room::-webkit-scrollbar{
       width: 0;
    }
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper{
        background-color: #323644;
        padding: 50px 50px 50px 50px;
        border-radius: 15px;
        &-form{
            div{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                label{
                    color: white;
                }
            }
            &-submit{
                width: 100%;
                margin-top: 12px;
                padding: 7px 7px 7px 7px;
                background-color: #424656;
                color: white;
                border-radius: 10px;
            }
        }
        &-other{
            margin-top: 20px;
            text-align: center;
            a{
                text-decoration: none;
                color:white;
            }
            a:hover{
                color: red;
            }
        }
    }
}
.input-text{
    margin-top: 5px;
    background-color: #424656;
    border: 1px solid #4ac1f7;
    padding: 7px 20px 7px 6px;
    border-radius: 10px;
}
.input-text:focus{
    outline: 2px solid #4ac1f7;
}

