*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    &-wrapper{
        max-width: 1440px;
        width: 100%;
        padding: 30px 0 20px 0;
        display: flex;
        justify-content: space-between;
        &-nav{
            width: 40%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_logo{
                font-size: 28px;
                font-weight: bold;
            }
            &-form{
                display: flex;
                input{
                    border-radius: 7px;
                    padding: 5px 10px 5px 10px;
                    border: none;
                    outline: none;
                    background-color: white;
                }
                input[type="text"] {
                    border: none;
                    outline: none;
                    background-color: white;
                }
            }
            &-ul{
                &-li{
                    list-style: none;
                    &_a{
                        text-decoration: none;
                    }
                }
            }
        }
        &-user{
            &-ul{
                display: flex;
                &-li{
                    list-style: none;
                    margin-left: 40px;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 18px;
                        font-weight: bold;
                        border-radius: 5px;
                        padding: 10px 15px 10px 15px;
                        background-color: #0a0a23;
                    }
                    a:hover{
                        background-color:darkcyan;
                    }
                }
            }
            &-dropdown{
                display: inline-block;
                position: relative;
                cursor: pointer;
                span{
                    padding-left: 30px;
                }
                &-content{
                    display: none;
                    position: absolute;
                    background-color: gray;
                    border-radius: 10px;
                    &.show{
                        display: block; 
                    }
                    &-ul{
                        margin-top: 10px;
                        &-li{
                            list-style: none;
                            padding: 20px 30px 20px 30px;
                            border-radius: 5px;
                            &_a{
                                text-decoration: none;
                                font-size: 18px;
                                font-weight:500;
                                color: #000;
                            }
                        }
                        &-li:hover{
                            background-color: burlywood;
                        }
                    }
                }
            }
        }
    }
}

.section{
    width: 100%;
    display: flex;
    justify-content: center;
    &-wrapper{
        margin-top: 150px;
        width: 300px;
        padding: 50px 50px 50px 50px;
        border-radius: 10px;
        background-color: gray;
        &-form{
            div{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                input{
                    padding: 10px 5px 10px 5px;
                    border-radius: 7px;
                    outline: none;
                    border: none;
                }
            }
            input[type="submit"]{
                margin-top: 10px;
                width: 100%;
                padding: 5px 2px 5px 2px;
                font-size: 28px;
                font-weight: bold;
                border-radius: 7px;
                outline: none;
                border: none;
            }
            input[type="submit"]:hover{
                background-color:beige;
            }
        }
    }
}
.profile{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    &-wrapper{
        margin-left: 120px;
        width: 100%;
        max-width: 1440px;
    }
}