*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #272A37;
}
.sidebar{
    height: 100vh;
    border-right: 1px solid #323644;
    &-wrapper{
        width: 110px;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img{
            width: 80px;
            height: 80px;
            margin-top: 20px;
            margin-left: 10px;
        }
        &-menu{
            div{
                margin-top: 20px;
                cursor: pointer;
                padding-left: 10px;
                text-align: center;
                img{
                    width: 40px;
                    height: 40px;
                }

            }
            div.active{
                border-left: #4ac1f7 2px solid;
            }
        }
        &-user{
            &-image{
                border-radius: 50px;
            }
        }
    }
}
.window{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-message{
        color: #b5b7bd;
        font-size: 36px;
    }
}
.section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper{
        background-color: #323644;
        padding: 50px 50px 50px 50px;
        border-radius: 15px;
        &-form{
            div{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                label{
                    color: white;
                }
            }
            &-submit{
                width: 100%;
                margin-top: 12px;
                padding: 7px 7px 7px 7px;
                background-color: #424656;
                color: white;
                border-radius: 10px;
            }
        }
        &-other{
            margin-top: 20px;
            text-align: center;
            a{
                text-decoration: none;
                color:white;
            }
            a:hover{
                color: red;
            }
        }
    }
}
.input-text{
    margin-top: 5px;
    background-color: #424656;
    border: 1px solid #4ac1f7;
    padding: 7px 20px 7px 6px;
    border-radius: 10px;
}
.input-text:focus{
    outline: 2px solid #4ac1f7;
}

