* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #272A37; }

.sidebar {
  height: 100vh;
  border-right: 1px solid #323644; }
  .sidebar-wrapper {
    width: 110px;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .sidebar-wrapper img {
      width: 80px;
      height: 80px;
      margin-top: 20px;
      margin-left: 10px; }
    .sidebar-wrapper-menu div {
      margin-top: 20px;
      cursor: pointer;
      padding-left: 10px;
      text-align: center; }
      .sidebar-wrapper-menu div img {
        width: 40px;
        height: 40px; }
    .sidebar-wrapper-menu div.active {
      border-left: #4ac1f7 2px solid; }
    .sidebar-wrapper-user-image {
      border-radius: 50px; }

.window {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: start; }
  .window-wrapper {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column; }
    .window-wrapper-btn {
      margin-top: 10px;
      width: 100%;
      height: 65px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      background-color: #323644;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
    .window-wrapper-form {
      display: none;
      position: absolute;
      padding: 40px 40px 40px 40px;
      left: 40%;
      top: 40%;
      background-color: #323644;
      border-radius: 10px; }
      .window-wrapper-form div {
        display: flex;
        flex-direction: column; }
        .window-wrapper-form div label {
          color: white; }
      .window-wrapper-form-input {
        border-radius: 10px;
        border: 1px solid #4ac1f7;
        padding: 7px 20px 7px 6px; }
      .window-wrapper-form input[type='submit'] {
        width: 100%;
        margin-top: 20px;
        padding: 7px 20px 7px 6px;
        border: none;
        outline: none;
        border-radius: 20px; }
    .window-wrapper-form.open {
      display: block; }
    .window-wrapper-message {
      color: #b5b7bd;
      font-size: 36px; }
    .window-wrapper-message.deactive {
      display: none; }
    .window-wrapper-name {
      flex: 1;
      color: white;
      font-size: 32px;
      font-weight: bold; }
      .window-wrapper-name p {
        padding: 40px 40px 40px 40px; }
    .window-wrapper_list-chats {
      flex: 5;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none; }
      .window-wrapper_list-chats-chat {
        margin-top: 10px;
        width: 100%;
        height: 65px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color: #323644;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
      .window-wrapper_list-chats-chat.open {
        background-color: #1d90f5; }
    .window-wrapper_list-chats::-webkit-scrollbar {
      width: 0; }
  .window-room {
    width: 60%;
    height: 100vh;
    background-color: #323644;
    margin-right: 300px; }
    .window-room-field {
      height: 94.5%;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none; }
    .window-room-field::-webkit-scrollbar {
      display: none; }
    .window-room-message {
      color: white;
      margin-top: 30px;
      background-color: #424656;
      max-width: 70%;
      padding: 7px 7px 7px 7px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      margin-left: 20px; }
      .window-room-message-text {
        color: white;
        margin-left: 10px; }
    .window-room-info {
      display: flex;
      align-items: center; }
      .window-room-info-image {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        margin-left: 20px;
        margin-top: 5px; }
      .window-room-info-username {
        color: white;
        font-size: 14px;
        font-weight: bold;
        margin-left: 15px; }
      .window-room-info-time {
        color: #5e616c;
        font-size: 14px;
        margin-left: 15px; }
    .window-room-form {
      width: 100%;
      height: 50px;
      display: flex; }
      .window-room-form-input {
        flex: 6; }
      .window-room-form-submit {
        flex: 1; }
  .window-room::-webkit-scrollbar {
    width: 0; }

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .section-wrapper {
    background-color: #323644;
    padding: 50px 50px 50px 50px;
    border-radius: 15px; }
    .section-wrapper-form div {
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
      .section-wrapper-form div label {
        color: white; }
    .section-wrapper-form-submit {
      width: 100%;
      margin-top: 12px;
      padding: 7px 7px 7px 7px;
      background-color: #424656;
      color: white;
      border-radius: 10px; }
    .section-wrapper-other {
      margin-top: 20px;
      text-align: center; }
      .section-wrapper-other a {
        text-decoration: none;
        color: white; }
      .section-wrapper-other a:hover {
        color: red; }

.input-text {
  margin-top: 5px;
  background-color: #424656;
  border: 1px solid #4ac1f7;
  padding: 7px 20px 7px 6px;
  border-radius: 10px; }

.input-text:focus {
  outline: 2px solid #4ac1f7; }

/*# sourceMappingURL=style.css.map */
