{% extends 'base.html' %}

{% block content %}
    <section class="profile">
        <div class="profile-wrapper">
            <img class="profile-wrapper-image" src="{{user.image.url}}" alt="avatar">
            <form class="profile-wrapper-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {{ field.lable_tag }} {{field}}
                {% endfor %}
                <input type="submit" value="Save">
            </form>
        </div>
    </section>
{% endblock %}